body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

ol {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="file"] {
  width: 800px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

button.btn:hover {
  background-color: #4caf50;
  color: #fff;
}

a.link {
  text-decoration: none;
  color: #3498db;
  border-bottom: 1px dashed #3498db;
}

a.link:hover {
  color: #e74c3c;
  border-bottom: 1px dashed #e74c3c;
}

img {
  max-width: 800px; /* Забезпечує, що ширина картинки не перевищить ширину батьківського контейнера */
  height: auto; /* Забезпечує пропорційність при зміні розмірів */
  margin-top: 20px; /* Додано відступ зверху для картинки */
  border-radius: 20px; /* Заокруглення кутів */
}